{% extends 'base.html.twig' %}

{% block title %}Список курсов / StudyOn{% endblock %}

{% block body %}
    <nav>
        <span>StudyOn</span> / <span>Список курсов</span>
    </nav>

    <h1>Список курсов</h1>

    <table>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a></td>
                <td>{{ course.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Курсы не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('course/_add_button.html.twig') }}
{% endblock %}
