{% extends 'base.html.twig' %}

{% block title %}
    Ошибка
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">404</li>
{% endblock %}

{% block body %}
    <h1 class="alert alert-danger" type="alert">Ошибка</h1>
    <p>
        При осуществлении запроса произошла ошибка. <a href="/">Вернуться на главную</a>
    </p>
{% endblock %}
