{% extends 'base.html.twig' %}

{% block title %}
    403
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">404</li>
{% endblock %}

{% block body %}
    <h1 class="alert alert-danger" type="alert">Доступ запрещён</h1>
    <p>
        Доступ к данной странице запрещен. <a href="/">Вернуться на главную</a>
    </p>
{% endblock %}
